/* Landing */
#Landing {
	height: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#Landing #logo {
	width: auto;
	height: 40vh;
	display: flex;
	pointer-events: none;
	justify-content: center;
	max-height: 500px;
	max-width: 500px
}

#Landing #logo img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

#Landing #menu {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	justify-content: center;
	margin-left: calc(1rem + 1vmin);
	max-height: 500px;
	max-width: 500px
}

#Landing #menu .text {
	font-size: calc(1.5rem + 1.5vmin);
	line-height: 100%;
	padding: 0;
	margin: 0;
}

#Landing #menu .text-small {
	font-size: calc(1rem + 1vmin);
	line-height: 100%;
	padding: 0;
	margin: 0;
}

#Landing #menu .focus-link {
	text-decoration: underline;
	color: #000000;
	transition: 0.2s color ease-in-out;
}

#Landing #menu .focus-link:hover {
	color: #aa0000;
}

#Landing #menu #links-social {
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
}

#Landing #menu #links-social a {
	color: #000000;
	text-decoration: none;
	transition: 0.2s color, 0.2s opacity ease-in-out;
	opacity: 0.5;
}

#Landing #menu #links-social a:not(:last-child) {
	margin-right: calc(1rem + 1vmin);
}

#Landing #menu #links-social a:hover {
	color: #aa0000;
	opacity: 1;
}

#Landing #menu #links-social i {
	font-size: calc(2rem + 0.5vmin);
	line-height: 100%;
}


/* Half-or-less sized screens */
@media (max-width: 1200px) and (min-width: 576px) and (min-height: 576px) {
	#Landing {
		height: fit-content;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	#Landing #logo {
		height: 40vh;
		width: 60%;
		pointer-events: none;
	}

	#Landing #menu {
		margin-top: calc(1rem + 1vmin);
		margin-left: 0;
		width: 80%;
	}

	#Landing #menu #links-social {
		justify-content: space-evenly;
	}

	#Landing #menu #links-social a {
		margin-right: 0 !important;
	}
}

/* Mobile - Portrait */
@media (max-width: 575.98px) and (orientation: portrait) {
	#Landing {
		height: fit-content;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	#Landing #logo {
		height: auto;
		width: 60%;
		pointer-events: none;
	}

	#Landing #menu {
		margin-top: calc(1rem + 1vmin);
		margin-left: 0;
		width: 80%;
	}

	#Landing #menu #links-social {
		justify-content: space-evenly;
	}

	#Landing #menu #links-social a {
		margin-right: 0 !important;
	}
}

/* Mobile - Landscape */
@media (max-height: 575.98px) and (max-width: 1198px) and (orientation: landscape) {
	#Landing {
		height: fit-content;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	#Landing #logo {
		height: 50vh;
		width: auto;
		pointer-events: none;
	}

	#Landing #logo img {
		width: auto;
	}

	#Landing #menu .text {
		font-size: calc(1.2rem + 1.2vmin);
		max-width: 40vw;
	}

	#Landing #menu #links-social {
		justify-content: space-around;
	}

	#Landing #menu #links-social a {
		margin-right: 0 !important;
	}
}