/* Navbar */
#Navbar {
	background-color: transparent;
	top: 0;
	position: absolute;
	margin-top: calc(1rem + 1vmin);
}

#Navbar #links-local {
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
}

#Navbar #links-local a {
	color: #000000;
	font-size: calc(0.8rem + 0.8vmin);
	letter-spacing: calc(0.1rem + 0.15vmin);
	line-height: 100%;
	text-decoration: none;
	transition: 0.2s color, 0.2s opacity ease-in-out;
	opacity: 0.5;
}

#Navbar #links-local a:not(:last-child) {
	margin-right: calc(1rem + 1vmin);
}

#Navbar #links-local a:hover {
	color: #990000;
	opacity: 1;
}

/* Half-or-less sized screens */
@media (max-width: 1200px) and (min-height: 575.98px) {
	#Navbar {
		top: unset;
		position: unset;
		margin: 0;
		margin-bottom: calc(1rem + 1vmin);
	}
}

/* Mobile - Portrait */
@media (max-width: 575.98px) and (orientation: portrait) {
	#Navbar {
		top: unset;
		position: unset;
		margin: 0;
		margin-bottom: calc(1rem + 1vmin);
	}
}

/* Mobile - Landscape */
@media (max-height: 575.98px) and (max-width: 1198px) and (orientation: landscape) {
	#Navbar {
		top: unset;
		position: unset;
		margin: 0;
		margin-bottom: calc(1rem + 1vmin);
	}
}