/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Source+Serif+Pro:wght@300&display=swap');

/* Document */
html, body, #root {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #fefefe;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* App */
#App {
	display: flex;
	padding: 1%;
	width: 100%;
	height: fit-content;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	background-color: #fefefe;
}

/* Navbar */
#Navbar {
	width: 100%;
	background-color: #fefefe;
}

/* AppContent */
.AppContent {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #fefefe;
}

/* Landing */
#Landing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#Landing #logo {
	width: calc(5rem + 20vmin);
	border-radius: 50%;
	pointer-events: none;
}

#Landing #menu {
	margin: calc(1rem + 1vmin);
}

#Landing #menu .text #title {
	font-weight: bold;
	color: #990000;
}

#Landing #menu .text {
	font-size: calc(1.5rem + 1.5vmin);
	line-height: 100%;
	padding: 0;
	margin: 0;
}

#Landing #menu #text-1 {
	margin-bottom: calc(1rem + 1vmin);
}

#Landing #menu #links-local, #links-social {
	text-align: center;
	padding: 0;
	margin: 0;
}

#Landing #menu #links-local a, #links-social a {
	color: #000000;
	font-size: calc(0.8rem + 0.8vmin);
	letter-spacing: calc(0.1rem + 0.15vmin);
	line-height: 100%;
	text-decoration: none;
	transition: 0.2s color ease-in-out;
}

#Landing #menu #links-local a:hover, #links-social a:hover {
	color: #990000;
}

#Landing #menu #links-local {
	margin: calc(1rem + 1vmin) 0px calc(1rem + 1vmin) 0px;
	display: flex;
	font-weight: bold;
	text-transform: uppercase;
}

#Landing #menu #links-local a {
	margin-right: calc(1rem + 1vmin);
}

@media (max-width: 575.98px) {
	#Landing #menu #links-local {
		justify-content: space-around;
	}

	#Landing #menu #links-local a {
		margin: 0;
	}
}

#Landing #menu #links-social {
	display: flex;
	justify-content: center;
}

#Landing #menu #links-social i {
	font-size: calc(2rem + 0.5vmin);
	line-height: 100%;
	margin: 0px 10px;
}